{% extends 'main.html' %}

{% block content %}


<style>
  .home_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>



<div class="home_container">

  <div>
    <h3>Browse Topics</h3>
    <hr>

    <div>
      <a href="{% url 'home' %}">Browse Topics</a>
    </div>

    {% for topic in topics %}
    <div>
      <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>

  <div>
    <h5>{{room_count}} rooms available</h5>
    <a href="{% url 'create_room' %}">Create Room</a>

    <div>
      {% for room in rooms %}
      <div>
        <a href="{% url 'update_room' room.id %}">Edit</a>
        <a href="{% url 'delete_room' room.id %}">Delete</a>
        <span>@{{room.host.username}}</span>
        <h5>{{room.id}}: <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
        <small>{{room.topic.name}}</small>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock content %}
